@model IEnumerable<Anime>
@{
    ViewData["Title"] = "Home Page";

    SelectList categories = new SelectList(ViewBag.Categories, "Id", "Name");
}




@if (!Model.Any())
{
<partial name="_Alert"/>
}
else
{


    <div style="width:200px">
        <label for="category" class="form-label mt-4">Select Category</label>
        <select class="form-select" id="category" asp-items="categories" data-placeholder="Select a category" onchange="GetAnimesWithCategories()">
            <option value="0">All Categories</option>
        </select>
    </div>
 



     <div class="row mt-5" id="Items">
        <partial name="GetAnimeBasedOnCategoreis" model="@Model" />

    </div> 

}

@section Scripts{

    <script>

        function GetAnimesWithCategories() {
            // get category id
            var element = document.getElementById("category").value;
            console.log(element);
            var container = document.getElementById("Items");


            $.ajax({
                url: "/Home/GetAnimeBasedOnCategoreis",
                data: {"CategoryId" : element},
                success: function (result) {

                    container.innerHTML = result;
                }

            });

        }
    </script>

}