<div class="alert  alert-secondary " style="width:50%;height:150px;margin:50px auto;">
    <h4 class="alert-heading"> No Animes!</h4>
    <a  style="text-decoration:none;"asp-action="Create" asp-controller="Anime" class="alert-link">
        <span class="badge bg-info p-2">Create Anime</span>

    </a>
</div>